<a href="https://colab.research.google.com/github/gptix/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/Copy_of_Titanic_PG_DB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Connect to postgres server in cloud
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/1e/c0/16303cef8d54fdcfae7be7880cf471f21449225687f61cc3be2a7ef4e6e5/psycopg2_binary-2.8.4-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 2.4MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [0]:
import psycopg2

dbname = 'sjnmahbj'
user = 'sjnmahbj'
password = ''
port = '5432'
host = 'rajje.db.elephantsql.com' # port should be included by defult

pg_conn = psycopg2.connect(dbname=dbname, user=user,
                          password=password, host=host)
# pg_conn

/usr/local/lib/python3.6/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [0]:
# retrieve Titanic data file with pandas

import pandas as pd

# ingest CSV data
titanic_url = 'https://raw.githubusercontent.com/gptix/DS-Unit-3-Sprint-2-SQL-and-Databases/master/module2-sql-for-analysis/titanic.csv'
titanic_df = pd.read_csv(titanic_url)

In [0]:
# Clean data

# titanic_df.head()
# titanic_df[titanic_df.isna().any(axis=1)]
# # None!
# titanic_df[titanic_df.isna().any(axis=1)]
# # None!
# titanic_df.describe()

In [0]:
# clean data
# titanic_df_cleaned = clean(titanic_df)

In [0]:
titanic_df_cols = list(titanic_df.columns)
titanic_df_cols

['Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'Siblings/Spouses Aboard',
 'Parents/Children Aboard',
 'Fare']

In [0]:
create_enum_sex = """
CREATE TYPE SEX AS ENUM ('female', 'male');
"""
pg_conn = psycopg2.connect(dbname=dbname, user=user,
                          password=password, host=host)
pg_curs = pg_conn.cursor()
# pg_curs
pg_curs.execute(create_enum_sex)
pg_conn.commit()

In [0]:
# Create table in Postgres db

# Column names from CSV file
# ['Survived',
#  'Pclass',
#  'Name',
#  'Sex',
#  'Age',
#  'Siblings/Spouses Aboard',
#  'Parents/Children Aboard',
#  'Fare']

create_titanic_table_SQL = """
CREATE TABLE titanic (
  id                      SERIAL PRIMARY KEY,
  Survived                BOOLEAN NOT NULL,
  Pclass                  INT NOT NULL,
  Name                    VARCHAR(50),
  Sex                     SEX,
  Age                     INT NOT NULL,
  Siblings_Spouses_Aboard INT NOT NULL,
  Parents_Children_Aboard INT NOT NULL,
  Fare                    REAL NOT NULL  
);"""
# print(create_titanic_table_SQL)

pg_conn = psycopg2.connect(dbname=dbname, user=user,
                          password=password, host=host)
pg_curs = pg_conn.cursor()
# pg_curs
pg_curs.execute(create_titanic_table_SQL)
pg_conn.commit()

In [0]:
titanic_csv = titanic_df.to_csv()
# print(titanic_csv)

In [0]:
# one_row = titanic_df.iloc[0]
one_row

def make_insert_row(row):
  s = "place "
  for col in titanic_df_cols:
    s = s + str(row[col]) + "   "
  return s

make_insert_row(one_row)

'place 0   3   Mr. Owen Harris Braund   male   22.0   1   0   7.25   '

In [0]:
col_list = "id, Survived, Pclass, Name, Sex, Age, Siblings_Spouses_Aboard, Parents_Children_Aboard, Fare"
table_name = "titanic"

insert_statement = "INSERT INTO " + table_name + " (" + \
  col_list + """) 
    VALUES
  """ + "values" + ");"

print(insert_statement)

INSERT INTO titanic (id, Survived, Pclass, Name, Sex, Age, Siblings_Spouses_Aboard, Parents_Children_Aboard, Fare)
    VALUES
  values);

In [0]:
# populate table
# create SQL to import data
# execute SQL tro import data

# define import SQL
import_sql = foo